USE [WEBSITE]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[permissions](
	[idpermissions] [int] IDENTITY(1,1) NOT NULL,
	[idpermissions_group] [int] NULL,
	[code_class] [varchar](100) NULL,
	[code_method] [varchar](100) NULL,
	[code_url] [varchar](100) NULL,
	[display_name] [varchar](100) NULL,
	[display_icon] [varchar](100) NULL,
	[status] [int] NULL,
	[created_date] [datetime] NULL,
	[updated_date] [datetime] NULL,
	[type] [varchar](10) NULL,
 CONSTRAINT [PK_permissions] PRIMARY KEY CLUSTERED 
(
	[idpermissions] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[permissions_group]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[permissions_group](
	[idpermissions_group] [int] IDENTITY(1,1) NOT NULL,
	[permissions_groupname] [varchar](100) NULL,
	[display_icon] [varchar](100) NULL,
	[status] [int] NULL,
	[created_date] [datetime] NULL,
	[apps] [varchar](25) NULL,
 CONSTRAINT [PK_permissions_group] PRIMARY KEY CLUSTERED 
(
	[idpermissions_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[roles]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[roles](
	[idroles] [int] IDENTITY(1,1) NOT NULL,
	[roles_name] [varchar](200) NULL,
	[status] [int] NULL,
	[created_date] [datetime] NULL,
	[updated_date] [datetime] NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[idroles] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[roles_permissions]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[idroles] [int] NULL,
	[idpermissions] [int] NULL,
	[status] [int] NULL,
	[created_date] [datetime] NULL,
	[updated_date] [datetime] NULL,
 CONSTRAINT [PK_roles_permissions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[table_doc_type]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[table_doc_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama_type] [varchar](50) NULL,
	[create_date] [datetime] NULL,
	[create_by] [varchar](15) NULL,
	[update_date] [datetime] NULL,
	[update_by] [varchar](15) NULL,
 CONSTRAINT [PK_table_doc_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[table_document]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[table_document](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[is_aktif] [varchar](10) NULL,
	[id_doc_type] [varchar](15) NULL,
	[id_dept] [varchar](15) NULL,
	[nomor_document] [varchar](50) NULL,
	[nama_document] [varchar](150) NULL,
	[nama_file] [varchar](150) NULL,
	[create_date] [datetime] NULL,
	[create_by] [varchar](15) NULL,
	[update_date] [datetime] NULL,
	[update_by] [varchar](15) NULL,
 CONSTRAINT [PK_table_sop] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[table_institusi]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[table_institusi](
	[id_institusi] [int] IDENTITY(1,1) NOT NULL,
	[nama] [varchar](75) NULL,
	[alamat] [text] NULL,
	[create_date] [datetime] NULL,
	[create_by] [varchar](15) NULL,
	[update_date] [datetime] NULL,
	[update_by] [varchar](15) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[table_ip_address]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[table_ip_address](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dept_id] [varchar](25) NULL,
	[dept_name] [varchar](75) NULL,
	[nip] [varchar](25) NULL,
	[nama_pegawai] [varchar](75) NULL,
	[ip_address] [varchar](35) NULL,
	[computer_name] [varchar](50) NULL,
	[remote_id] [varchar](35) NULL,
	[aktivasi] [varchar](7) NULL,
	[insert_date] [datetime] NULL,
	[insert_by] [varchar](15) NULL,
	[update_date] [datetime] NULL,
	[update_by] [varchar](15) NULL,
 CONSTRAINT [PK_table_ip_address] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[table_kategori]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[table_kategori](
	[id_kategori] [int] IDENTITY(1,1) NOT NULL,
	[nama_kategori] [varchar](50) NULL,
	[create_date] [datetime] NULL,
	[create_by] [varchar](25) NULL,
	[update_date] [datetime] NULL,
	[update_by] [varchar](25) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[table_logs]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[table_logs](
	[log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[log_user_id] [varchar](25) NULL,
	[log_url] [varchar](150) NULL,
	[log_type] [varchar](50) NULL,
	[log_time] [datetime] NULL,
	[log_data] [varchar](max) NULL,
 CONSTRAINT [PK_table_logs] PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[table_menus]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[table_menus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[menu_id] [varchar](15) NULL,
	[title] [varchar](35) NULL,
	[url] [varchar](150) NULL,
	[icon] [varchar](50) NULL,
	[is_active] [varchar](5) NULL,
	[create_date] [datetime] NULL,
	[create_by] [varchar](15) NULL,
	[update_date] [datetime] NULL,
	[update_by] [varchar](15) NULL,
 CONSTRAINT [PK_table_menus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[table_perusahaan]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[table_perusahaan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](10) NULL,
	[nama] [varchar](75) NULL,
	[telepon] [varchar](25) NULL,
	[handphone] [varchar](25) NULL,
	[fax] [varchar](25) NULL,
	[email] [varchar](35) NULL,
	[alamat] [text] NULL,
	[icon_name] [varchar](50) NULL,
	[logo_name] [varchar](50) NULL,
	[twitter] [varchar](75) NULL,
	[facebook] [varchar](75) NULL,
	[instagram] [varchar](75) NULL,
	[pinterest] [varchar](75) NULL,
	[youtube] [varchar](75) NULL,
	[skype] [varchar](75) NULL,
	[create_date] [datetime] NULL,
	[create_by] [varchar](25) NULL,
	[update_date] [datetime] NULL,
	[update_by] [varchar](25) NULL,
 CONSTRAINT [PK_table_perusahaan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[table_phone_ext]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[table_phone_ext](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dept_id] [varchar](25) NULL,
	[dept_name] [varchar](75) NULL,
	[nip] [varchar](25) NULL,
	[nama_pegawai] [varchar](75) NULL,
	[ext_no] [varchar](12) NULL,
	[aktivasi] [varchar](7) NULL,
	[insert_date] [datetime] NULL,
	[insert_by] [varchar](15) NULL,
	[update_date] [datetime] NULL,
	[update_by] [varchar](15) NULL,
 CONSTRAINT [PK_table_phone_ext] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[table_project]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[table_project](
	[id_project] [int] IDENTITY(1,1) NOT NULL,
	[id_dept] [varchar](15) NULL,
	[nama_project] [varchar](75) NULL,
	[id_status] [int] NULL,
	[id_kategori] [int] NULL,
	[id_pic] [varchar](50) NULL,
	[id_institusi] [int] NULL,
	[project_url] [text] NULL,
	[project_description] [text] NULL,
	[project_progress] [decimal](18, 0) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[create_date] [datetime] NULL,
	[create_by] [varchar](15) NULL,
	[update_date] [datetime] NULL,
	[update_by] [varchar](15) NULL,
 CONSTRAINT [PK_table_project] PRIMARY KEY CLUSTERED 
(
	[id_project] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[table_project_files]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[table_project_files](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_project] [int] NULL,
	[title] [varchar](75) NULL,
	[nama_file] [varchar](150) NULL,
	[create_date] [datetime] NULL,
	[create_by] [varchar](15) NULL,
 CONSTRAINT [PK_table_project_files] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[table_project_note]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[table_project_note](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_project] [int] NULL,
	[content] [text] NULL,
	[create_date] [datetime] NULL,
	[create_by] [varchar](15) NULL,
 CONSTRAINT [PK_table_project_note] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[table_project_task]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[table_project_task](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_project] [int] NULL,
	[nama_task] [varchar](150) NULL,
	[status_task] [varchar](15) NULL,
	[create_date] [datetime] NULL,
	[create_by] [varchar](15) NULL,
 CONSTRAINT [PK_table_project_task] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[table_status]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[table_status](
	[id_status] [int] IDENTITY(1,1) NOT NULL,
	[nama_status] [varchar](75) NULL,
	[create_date] [datetime] NULL,
	[create_by] [varchar](15) NULL,
	[update_date] [datetime] NULL,
	[update_by] [varchar](15) NULL,
 CONSTRAINT [PK_table_status] PRIMARY KEY CLUSTERED 
(
	[id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[table_user]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[table_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dept_id] [varchar](10) NULL,
	[dept_name] [varchar](75) NULL,
	[nip] [varchar](15) NULL,
	[nama_pegawai] [varchar](75) NULL,
	[email_pegawai] [varchar](75) NULL,
	[username] [varchar](75) NULL,
	[password] [varchar](150) NULL,
	[levels] [varchar](25) NULL,
	[user_level] [varchar](5) NULL,
	[aktivasi] [varchar](25) NULL,
	[last_login] [datetime] NULL,
	[insert_date] [datetime] NULL,
	[insert_by] [varchar](25) NULL,
	[update_date] [datetime] NULL,
	[update_by] [varchar](25) NULL,
 CONSTRAINT [PK_table_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_apps_link]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_apps_link](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama_apps] [varchar](150) NULL,
	[link_apps] [text] NULL,
	[deskripsi] [text] NULL,
	[corp_apps] [varchar](50) NULL,
	[status] [varchar](15) NULL,
	[create_date] [datetime] NULL,
	[create_by] [varchar](15) NULL,
	[update_date] [datetime] NULL,
	[update_by] [varchar](15) NULL,
 CONSTRAINT [PK_tbl_apps_link] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_attribute_inspection]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_attribute_inspection](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[item_name] [varchar](150) NULL,
	[aktivasi] [varchar](7) NULL,
	[insert_date] [datetime] NULL,
	[insert_by] [varchar](15) NULL,
	[update_date] [datetime] NULL,
	[update_by] [nchar](10) NULL,
 CONSTRAINT [PK_tbl_attribute_inspection] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_function_inspection]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_function_inspection](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[item_name] [varchar](150) NULL,
	[standard] [varchar](25) NULL,
	[toleransi] [varchar](15) NULL,
	[tools] [varchar](50) NULL,
	[aktivasi] [varchar](7) NULL,
	[insert_date] [datetime] NULL,
	[insert_by] [varchar](15) NULL,
	[update_date] [datetime] NULL,
	[update_by] [varchar](15) NULL,
 CONSTRAINT [PK_tbl_function_inspection] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_log_po]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_log_po](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[log_url] [varchar](250) NULL,
	[log_type] [varchar](50) NULL,
	[log_data] [text] NULL,
	[log_time] [datetime] NULL,
 CONSTRAINT [PK_tbl_log_po] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_part_check_list]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_part_check_list](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[part_id] [varchar](50) NULL,
	[id_module] [varchar](150) NULL,
	[aktivasi] [varchar](7) NULL,
	[insert_date] [datetime] NULL,
	[insert_by] [varchar](15) NULL,
	[update_date] [datetime] NULL,
	[update_by] [varchar](15) NULL,
 CONSTRAINT [PK_tbl_part_list] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_po_local]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_po_local](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[NoBukti] [varchar](50) NULL,
	[POParent] [varchar](50) NOT NULL,
	[TGL] [datetime] NOT NULL,
	[Tgl_Needed] [datetime] NOT NULL,
	[ShipmentNotes] [nvarchar](max) NOT NULL,
	[TGL_JatuhTempo] [datetime] NOT NULL,
	[isImport] [bit] NOT NULL,
	[isAsset] [nvarchar](1) NOT NULL,
	[isBDP] [bit] NOT NULL,
	[Status] [nvarchar](1) NOT NULL,
	[NoContract] [nvarchar](50) NOT NULL,
	[SupplierID] [nvarchar](50) NOT NULL,
	[ShipmentTo] [nvarchar](255) NOT NULL,
	[Term] [int] NOT NULL,
	[NilaiTukar] [decimal](18, 4) NOT NULL,
	[ConditionID] [nvarchar](50) NOT NULL,
	[PaymentID] [nvarchar](50) NOT NULL,
	[ConsigneeID] [nvarchar](50) NOT NULL,
	[PelabuhanID] [nvarchar](50) NOT NULL,
	[TipePPN] [nvarchar](1) NOT NULL,
	[PPN] [decimal](18, 4) NOT NULL,
	[MataUang] [nvarchar](3) NOT NULL,
	[Discount] [decimal](18, 4) NOT NULL,
	[Fee] [decimal](18, 4) NOT NULL,
	[isWIP] [bit] NOT NULL,
	[F_Print] [int] NOT NULL,
	[InvID] [nvarchar](50) NOT NULL,
	[JurnalID] [nvarchar](50) NOT NULL,
	[OnBoardDate] [datetime] NOT NULL,
	[Keterangan] [nvarchar](max) NOT NULL,
	[KeteranganJasa] [nvarchar](max) NOT NULL,
	[ExportWeb] [bit] NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CompanyCode] [nvarchar](50) NOT NULL,
	[StatusUploadWeb] [varchar](5) NOT NULL,
	[TglUploadWeb] [datetime] NOT NULL,
	[TglUpdateStatusWeb] [datetime] NULL,
 CONSTRAINT [PK_tbl_po_online] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_trs_variable]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_trs_variable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_pcl] [varchar](15) NULL,
	[part_id] [varchar](50) NULL,
	[part_name] [varchar](150) NULL,
	[id_variable] [varchar](15) NULL,
	[insert_date] [datetime] NULL,
	[insert_by] [varchar](15) NULL,
 CONSTRAINT [PK_tbl_trs_variable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_variable_inspection]    Script Date: 12/06/2026 14.00.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_variable_inspection](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[item_name] [varchar](150) NULL,
	[standard] [varchar](25) NULL,
	[toleransi] [varchar](15) NULL,
	[tools] [varchar](50) NULL,
	[aktivasi] [varchar](7) NULL,
	[insert_date] [datetime] NULL,
	[insert_by] [varchar](15) NULL,
	[update_date] [datetime] NULL,
	[update_by] [varchar](15) NULL,
 CONSTRAINT [PK_tbl_variable_inspection] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
